.pageWrapper {
    display: grid;
    grid-template-columns: minmax(55%, 740px) 1fr;
    grid-gap: 40px;

    @media all and (max-width: 1160px) {
        grid-template-columns: auto;
    }
}

.headerButtonsMenu {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}
