.pageWrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(auto, 286px));
    grid-gap: 32px;
    padding: 10px 12px;

    @media all and (max-width: 480px) {
        grid-template-columns: 1fr;
        padding: 0;
    }
}
