.nav {
    padding: 0 8px;

    > * {
        margin-right: 30px;

        @media all and (max-width: 767px) {
            margin-right: 16px;
        }

        &:last-child {
            margin-right: 0;
        }
    }
}
